/* Insert your styles here */
#main-background {
    background-color: #e9ecf3;
}
#inner-background {
    background-color: white;
}
#background {
    background-image: url(../images/banner.jpg);
}
.logo{
    background-image: url("../images/logo.png");
    background-size: contain;
    width: 40px;
    height: 40px;
}

.titles {
    display: flex;
    column-count: 3；
}

.box {
    position: relative;
    width: 30%;
    margin: 35px 0 0 35px;
    padding: 10px 0 0 10px;
    text-align: center;
}

.image {
    border-radius: 20px;
    border: 0;
    display: inline-block;
    position: relative;
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.login {
    width: 100%;
    text-align: center;
}
.login-content {
    width: 500px;
    padding: 40px 40px 25px;
    background-color: #fff;
    border-radius: 4px;
    margin: 8% auto 100px;
}
.login-logo {
    max-width: 250px;
    height: 250px;
    margin: 0 auto 20px;
    align-content: center;
    border-radius: 20px;
    border-color: cadetblue;
    background-color:aliceblue;
}

.form {
    padding-top: 20px;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-input {
    padding: 6px 12px;
}
.form-button {
    color: #fff;
    border: none;
    background-color: #32c5d2;  
    padding: 10px 16px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    white-space: nowrap;
}